@model IEnumerable<BarSi.Models.Patient>

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/css/patients.css">
} 

@{
    ViewData["Title"] = "All Patients";
}
<header>
    <div class="title-component">
        <h1>
            All Patients
            <a asp-action="Create">
                <button asp-action="Create" type="button" class="btn btn-primary add-new" data-toggle="tooltip" data-placement="top" title="add patient"><i class="fa fa-plus"></i>Add Patient</button>
            </a>
        </h1>
        <div class="filter-patients">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#filterPatientsComponent" aria-expanded="false" aria-controls="filterPatientsComponent" id="filterButton" onclick="filterArrawToggle(this)">
                <i class="fa fa-chevron-circle-down" aria-hidden="true" id="filter-cart-icon"></i>
                filter patients
            </button>

        </div>
    </div>
    <div class="collapse jumbotron" id="filterPatientsComponent">
        <form asp-action="Search" id="searchForm">
            <div class="row">
                <div class="col col-md-3">
                    <input type="text" class="form-control" placeholder="Name" id="nameFilter" name="name">
                </div>
                <div class="col col-md-3">
                    <input type="date" class="form-control" placeholder="Birthday" id="birthdayFilter" name="birthday">
                </div>
                <div class="col col-md-3">
                    <input type="text" class="form-control" placeholder="Hospital" id="hospitalFilter" name="hospital">
                </div>
                <div class="col col-md-3">
                    <input type="text" class="form-control" placeholder="City" id="cityFilter" name="city">
                </div>
            </div>
            <div class="row">
                <div class="col col-md-3">
                    <input type="text" class="form-control" placeholder="Staus" id="statusFilter" name="status">
                </div>
                <div class="col col-md-3">
                    <input type="text" class="form-control" placeholder="Doctor Name" id="doctorFilter" name="doctorName">
                </div>
                <div class="col col-md-3">
                </div>
                <div class="col col-md-3">
                    <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="search" id="patientSearchButton"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
    </div>

</header>

<table class="table table-striped table-bordered table-hover" id="patients-table">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalBackgroundHispory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hospital.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status.Status)
            </th>
            <th>
                Doctor Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicalBackgroundHispory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hospital.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.FirstName)
                @Html.DisplayFor(modelItem => item.Doctor.LastName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></a>
                <a asp-action="Details" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="top"  title="Details"><i class="fa fa-info-circle"></i></a>
                <a asp-action="Delete" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts{ 
<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
<script src="~/js/patients.js" asp-append-version="true"></script>

<script type="text/html" id="patientsResults">
    <tr>
        <td>
            ${firstName}
        </td>
        <td>
            ${lastName}
        </td>
        <td>
           ${birthdate}
        </td>
        <td>
            ${medicalBackgroundHispory}
        </td>
        <td>
            ${hospital}
        </td>
        <td>
            ${city}
        </td>
        <td>
            ${status}
        </td>
        <td>
            ${doctorName}
        </td>
        <td>
            <a href="Patients/Edit/{Id}" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></a>
            <a href="Patients/Details/{Id}" data-toggle="tooltip" data-placement="top" title="Details"><i class="fa fa-info-circle"></i></a>
            <a href="Patients/Delete/{Id}" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></a>
        </td>
    </tr>
</script>

}
