<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BarSi</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome-free-5.13.1-web/css/all.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <header id="header">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3" id="main-nav">
            <div class="container">
                <a class="navbar-brand" id="home-item" asp-area="" asp-controller="Home" asp-action="Index">BarSi</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">
                                <i class="fas fa-home nav-icon"></i>
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Patients" asp-action="Index">
                                <i class="fas fa-procedures nav-icon"></i>
                                Patients
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Doctors" asp-action="Index">
                                <i class="fas fa-user-md nav-icon"></i>
                                Doctors
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Hospitals" asp-action="Index">
                                <i class="fas fa-clinic-medical nav-icon"></i>
                                Hospitals
                            </a>
                        </li>
                        <li class="nav-item" id="medical-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="MedicalEquipments" asp-action="Index">
                                <i class="fas fa-stethoscope nav-icon"></i>
                                Medical Equipments
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="loginButton">
                    @if (!@ViewBag.IsAdmin)
                    {
                        <button type="button" class="btn btn-info btn-round"
                                data-toggle="modal" data-target="#loginModal">
                            Login
                        </button>
                    }
                    else
                    {
                        <button class="btn btn-info btn-block btn-round"
                                onclick="location.href='@Url.Action("Logout", "Users")'">
                            Logout
                        </button>
                    }
                </div>
                <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <form id="login-form" asp-action="Login" asp-controller="Users" novalidate>
                                <header class="modal-header">
                                    <div class="form-title">
                                        <h4>Login</h4>
                                    </div>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </header>
                                <section class="modal-body">
                                    <div class="d-flex flex-column text-center">
                                        <div class="form-group">
                                            <input type="text" name="username" class="form-control" id="username" placeholder="Your username..." autocomplete="off" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="password" class="form-control" id="password" placeholder="Your password..." required>
                                        </div>
                                    </div>
                                </section>
                                <footer class="modal-footer d-flex justify-content-center">
                                    <input type="submit" value="Login" class="btn btn-info btn-block btn-round" />
                                </footer>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        @*<div class="container">
                &copy; 2020 - BarSi
            </div>*@
        <canvas id="footer-canvas" width="200" height="25"></canvas>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>