@model BarSi.Models.Hospital

@{
    ViewData["Title"] = "Details About Hospital";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/css/hospitals.css">
}

<h1>Details About Hospital</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City.Name)
        </dd>
    </dl>
</div>

<div>
    <div class="title-component">
        <h5 class="component-header">Doctors</h5>
        <button class="btn btn-outline-info collapser" type="button" data-toggle="collapse" data-target="#doctorsComponent" aria-expanded="false" aria-controls="doctorsComponent">
            <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
        </button>
    </div>
    <div class="collapse" id="doctorsComponent">
        <table class="table table-striped table-bordered table-hover" id="doctors-table">
            <thead class="thead-light">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Doctors.First().FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Doctors.First().LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Doctors.First().City.Name)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Doctors)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City.Name)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        <div class="title-component">
            <h5 class="component-header">Patients</h5>
            <button class="btn btn-outline-info collapser" type="button" data-toggle="collapse" data-target="#patientsComponent" aria-expanded="false" aria-controls="patientsComponent">
                <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
            </button>
        </div>
        <div class="collapse" id="patientsComponent">
            <table class="table table-striped table-bordered table-hover" id="patients-table">
                <thead class="thead-light">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Patients.First().FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Patients.First().LastName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Patients.First().City.Name)
                        </th>
                        <th>
                            Doctor Name
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Patients)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Doctor.FirstName) 
                            @Html.DisplayFor(modelItem => item.Doctor.LastName)
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>


    <div>
        <div class="title-component">
            <h5 class="component-header">Medical Equipments</h5>
            <button class="btn btn-outline-info collapser" type="button" data-toggle="collapse" data-target="#equipmentComponent" aria-expanded="false" aria-controls="equipmentComponent">
                <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
            </button>
        </div>
        <div class="collapse" id="equipmentComponent">
            <table class="table table-striped table-bordered table-hover" id="equipment-table">
                <thead class="thead-light">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.medicalEquipmentSupplies.First().MedicalEquipment)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.medicalEquipmentSupplies.First().SupplyQuantity)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.medicalEquipmentSupplies)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MedicalEquipment.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SupplyQuantity)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="container">
            <div class="row">
                <button type="button" class="btn btn-outline-info add-new" data-toggle="modal" data-target="#SupplyModal" data-placement="top" title="add supply" data-backdrop="static" data-keyboard="false">
                    <i class="fa fa-plus"></i>Order Supply
                </button>
                <div id="SupplyModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <form id="OrderForm" class="needs-validation" novalidate>
                            <div class="modal-content">

                                <div class="modal-header">
                                    <h4 class="modal-title">Order Supply</h4>
                                </div>
                                <div class="modal-body">
                                    <input hidden type="number" id="HospitalId" name="HospitalId" value="@Model.Id" />

                                    <div class="form-group">
                                        <select name="EquipmentId" class="form-control" asp-items="ViewBag.Equipment" id="SupplyEquipment" required>
                                            <option value="" disabled selected hidden>Medical Equipment</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Please select a medical equipment.
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" type="number" placeholder="Quantity" id="SupplyQuantity" min='1' name="Quantity" required />
                                        <div class="invalid-feedback">
                                            Please provide a valid number.
                                        </div>
                                    </div>
                                    <p id="SupplyAvailable"></p>
                                </div>
                                <div class="modal-footer">
                                    <button id="SubmitForm" type="submit" class="btn btn-outline-info">Order</button>
                                    <button id="hideSupplyModal" type="button" class="btn btn-outline-info" data-dismiss="modal">Hide</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div id="SuggestionModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Order Suggestion</h4>
                            </div>
                            <div class="modal-body">
                                <p id="SuggestEquipment" />
                                <p id="CurrSuggestionState" />
                            </div>
                            <p id="SupplyAvailable"></p>
                            <div class="modal-footer">
                                <button id="OrderSuggested" type="submit" class="btn btn-outline-info">Yes</button>
                                <button id="SuggesttionDeclined" type="button" class="btn btn-outline-info">No</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
<br />
<div>
    @if (@ViewBag.IsAdmin)
    {
    <div>
    	<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-info">Edit</a> 
	</div>
	}
    <div id="backBtn">
    	<a asp-action="Index" class="btn btn-outline-info">Back to Hospitals</a>
	</div>

</div>

@section Scripts{
    <script src="~/js/hospitals.js" asp-append-version="true"></script>
}
