@model IEnumerable<BarSi.Models.Hospital>

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/css/Hospitals.css">
}

@{
    ViewData["Title"] = "All Hospitals";
}

<h1>
    All Hospitals

    @if (@ViewBag.IsAdmin)
    {
        <a asp-action="Create">
            <button asp-action="Create" type="button" class="btn btn-outline-info add-new"
                    data-toggle="tooltip" data-placement="top" title="Add New Hospital">
                <i class="fa fa-plus"></i>
                Add Hospital
            </button>
        </a>
    }
</h1>
<table class="table table-striped table-bordered table-hover" id="hospial-table">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City.Name)
                </td>
                <td>
                    @if (@ViewBag.IsAdmin)
                    {<a asp-action="Edit" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit btn btn-outline-info"></i></a>}
                    <a asp-action="Details" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="top" title="Details"><i class="fa fa-info-circle btn btn-outline-info"></i></a>
                    @if (@ViewBag.IsAdmin){<a asp-action="Delete" asp-route-id="@item.Id" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash btn btn-outline-info"></i></a>}
                </td>
            </tr>
        }
    </tbody>
</table>
<div id='hospitalsMap' class="mapouter"></div>

<script type='text/javascript'>
    function loadMap() {
        var map = new Microsoft.Maps.Map(document.getElementById('hospitalsMap'), {});
        var layer = new Microsoft.Maps.Layer();

        var hospitals = @Html.Raw(Json.Serialize(Model));
        hospitals.forEach(hospital => {
            var pushpin = new Microsoft.Maps.Pushpin(
                new Microsoft.Maps.Location(hospital.location.lat, hospital.location.lng), {
                title: hospital.name
            });
            layer.add(pushpin);
        });

        map.layers.insert(layer);
        map.setView({
            center: new Microsoft.Maps.Location(31.728371, 35.040161),
            zoom: 7
        });

        Microsoft.Maps.Events.addHandler(map, 'click', function (e) {
             handleArgs('mapClick', e);

        });
        Microsoft.Maps.Events.addHandler(layer, 'rightclick', function (e) {
            //Get the shape that the user right clicked on in the layer.
            var shape = e.primitive;

            var loc;
            var desc;

            //Depending on the type of shape that was clicked.
            if (shape instanceof Microsoft.Maps.Pushpin) {
                loc = shape.getLocation();
                desc = 'Pushpin right clicked';
            } else {
                loc = e.location;
                desc = 'Polyline or Polygon right clicked';
            }

            //Display the infobox with an unpdated location and description.
            infobox.setOptions({
                location: loc,
                description: desc,
                visible: true
            });
        });
    }
</script>
<script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=AvIU-bI7fquY8nNWndVVTeVfkCtQWK3JMv-sHl-kIsy4Nb2CCPPc_J9NETdmtdwg&callback=loadMap' async defer></script>