@model IEnumerable<BarSi.Models.MedicalEquipmentSupply>

@{
    ViewData["Title"] = "All Medical Equipment Supplies";
}

<h1>All Medical Equipment Supplies</h1>

<p>
    <a hidden="!(@ViewBag.IsAdmin)" asp-action="Create">Add New Medical Equipment Supply</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Hospital)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalEquipment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplyQuantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Hospital.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MedicalEquipment.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SupplyQuantity)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {  hidden="!(@ViewBag.IsAdmin)" }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { hidden = "!(@ViewBag.IsAdmin)" })
                    @*<a hidden="!(@ViewBag.IsAdmin)" asp-action="Edit" asp-route-id="@item.MedicalEquipmentId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MedicalEquipmentId">Details</a> |
                    <a hidden="!(@ViewBag.IsAdmin)" asp-action="Delete" asp-route-id="@item.MedicalEquipmentId">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>

