@model IEnumerable<BarSi.Models.MedicalEquipment>

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/css/patients.css">
}

@{
    ViewData["Title"] = "All Medical Equipment";
}

    <h1>All Medical Equipment</h1>

<p>
    <a hidden="!(@ViewBag.IsAdmin)" asp-action="Create">Add New Medical Equipment</a>
</p>
<table class="table table-striped table-bordered table-hover" id="equipment-table">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.Price)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Quantity)
            </th>
            <td>
                <a hidden="!@ViewBag.IsAdmin)" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a hidden="!(@ViewBag.IsAdmin)" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
